.ipynb_checkpoints/
__pycache__/
Tutorial/
glad-web/
lib/
.chroma/
.vscode/
testData/
articles/
**/*.xlsx
**/*.csv
**/*.html
**/*.png
**/*.jpg
**/*.tif
**/*.pdf
**/.ipynb_checkpoints/
**/__pycache__/
**/build
**/dist
**/img
**/*.spec
